.borde-b {
    border: 1px solid blue;
}

.borde-black{
    border: 1px solid black;
}

.border-g{
    border: 1px solid green;
}

.borde-r {
    border: 1px solid red;
}

.fondo-r {
    background: red;
}

.fondo-g {
    background: gray;
}
